extends layout

block content
    header.jumbotron.bg-inverse.text-xs-center.center-vertically(role='banner')
      .container
        h1.display-3 moneygolden
        h2.m-b-3 стабильный, долгосрочный, заработок для всех инвесторов.
        if message
          h2.text-center.error-message #{message}
        ul.nav.nav-inline.social-share
          li.nav-item
            | Инвесторов: #{investor}
          li.nav-item
            | Вклад: #{put} руб.
          li.nav-item
            | Вывод: #{take} руб.
    section.section-video.bg-inverse.text-xs-center.wp.wp-4
      h3.sr-only Video
      video#demo_video.video-js.vjs-default-skin.vjs-big-play-centered(controls='', poster='img/video-poster.jpg', data-setup='{}')
    section.section-intro.bg-faded.text-xs-center
      .container
        h3.wp.wp-1 О НАС
        p.lead.wp.wp-2.vfa
          | Все мы знаем что золото и драгоценные металы это очень дорогой продукт и поэтому инвестиции в их добычу очень выгодно. Но не каждый может купить инвестиционный пакет с высокой стоимостью.Компания «Golden Money» предлагает каждому участнику в данном проекте высокий доход в сфере покупки и продажи золота и драгоценных металлов в странах СНГ.Вложения в производство по добыче и продаже , сортировке, и изготовлению золотой продукции. 
          br
          | Сегодня это не только самая надежная защита ваших капиталов от различных потрясений на международных рынках, политических неурядиц и нестабильных экономических ситуаций в мире, но и отличная возможность этот капитал приумножить. Одни продажи только от золотых изделий составляют пять миллиардов долларов в год. Основным направлением компании «Golden Money» является дальнейшее расширение своей деятельности и увеличение оборотных капиталов компании, в том числе за счет привлечения средств, частными инвесторами Golden Moneey Это уникальная платформа для долгосрочного развития компании и приумножении ваших средств.
        img.img-fluid.wp.wp-3(src='img/mock.png', alt='iPad mock')
    //-    
      section.section-features.text-xs-center
        .container
          .row
            .col-md-4
              .card
                .card-block
                  span.icon-pen.display-1
                  h4.card-title просто текст.
                  h6.card-subtitle.text-muted просто текст.
                  p.card-text просто текст.просто текст.просто текст. 
            .col-md-4
              .card
                .card-block
                  span.icon-thunderbolt.display-1
                  h4.card-title просто текст.
                  h6.card-subtitle.text-muted просто текст.
                  p.card-text просто текст.просто текст.просто текст. просто текст.
            .col-md-4
              .card.m-b-0
                .card-block
                  span.icon-heart.display-1
                  h4.card-title просто текст.
                  h6.card-subtitle.text-muted просто текст.
                  p.card-text просто текст.просто текст. просто текст. просто текст.
    section.section-pricing.bg-faded.text-xs-center
      .container
        h3 ВЫБЕРИТЕ ТАРИФНЫЙ ПЛАН
        .row.p-y-3
          .col-md-3.p-t-md.wp.wp-5
            .card.pricing-box
              .card-header.text-uppercase
                | Start invest
              .card-block
                h4.card-text
                  sup.pricing-box-currency.price1 ⃏
                  span.pricing-box-price 150-5000
              ul.list-group.list-group-flush.p-x
                li.list-group-item На один день 4% начисление 
              a.btn.btn-primary-outline(href='#') Начать
          .col-md-3.stacking-top
            .card.pricing-box.pricing-best.p-x-0
              .card-header.text-uppercase
                | Invest partner
              .card-block
                h4.card-text
                  sup.pricing-box-currency.price1 ⃏
                  span.pricing-box-price 5000-10000
              ul.list-group.list-group-flush.p-x
                li.list-group-item На 3 дня 16% начисление 
              a.btn.btn-primary(href='#') Начать
          .col-md-3.stacking-top
            .card.pricing-box.pricing-best.p-x-0
              .card-header.text-uppercase
                | Gold Investor
              .card-block
                h4.card-text
                  sup.pricing-box-currency.price1 ⃏
                  span.pricing-box-price 10000-15000
              ul.list-group.list-group-flush.p-x
                li.list-group-item На одну неделю 38% начисление 
              a.btn.btn-primary(href='#') Начать
          .col-md-3.p-t-md.wp.wp-6
            .card.pricing-box
              .card-header.text-uppercase
                | Platinum Invest
              .card-block
                h4.card-text
                  sup.pricing-box-currency.price1 ⃏
                  span.pricing-box-price 15000-25000
              ul.list-group.list-group-flush.p-x
                li.list-group-item На 12 дней 81% начисление 
              a.btn.btn-primary-outline(href='#') Начать
    section.section-testimonials.text-xs-center.bg-inverse
      .container
        h3.sr-only Отзывы
        #carousel-testimonials.carousel.slide(data-ride='carousel', data-interval='0')
          .carousel-inner(role='listbox')
            .carousel-item.active
              blockquote.blockquote
                img.img-circle(src='img/face1.jpg', height='80', width='80', alt='Avatar')
                p.h3 Выплаты получил, доволен. Собираюсь сотрудничать дальше.
                footer Михаил Чапаев
            .carousel-item
              blockquote.blockquote
                img.img-circle(src='img/face2.jpg', height='80', width='80', alt='Avatar')
                p.h3 До последнего не верил, но деньги пришли! Буду работать и дальше.
                footer Павел Котов
            .carousel-item
              blockquote.blockquote
                img.img-circle(src='img/face3.jpg', height='80', width='80', alt='Avatar')
                p.h3 Получил сегодня первую выплату. Решил сразу начать с 10000 руб.
                footer Виктор Гаврилюк
            .carousel-item
              blockquote.blockquote
                img.img-circle(src='img/face4.jpg', height='80', width='80', alt='Avatar')
                p.h3 От меня жирный плюс ребятам! Отработали четко и без сбоев. Будем сотрудничать дальше.
                footer Артем Смирнов
            .carousel-item
              blockquote.blockquote
                img.img-circle(src='img/face5.jpg', height='80', width='80', alt='Avatar')
                p.h3 Вложил деньги один раз и теперь каждый день получаю проценты.
                footer Сергей Свиридов
          ol.carousel-indicators
            li.active
              img.img-fluid.img-circle(src='img/face1.jpg', alt='Navigation avatar', data-target='#carousel-testimonials', data-slide-to='0')
            li
              img.img-fluid.img-circle(src='img/face2.jpg', alt='Navigation avatar', data-target='#carousel-testimonials', data-slide-to='1')
            li
              img.img-fluid.img-circle(src='img/face3.jpg', alt='Navigation avatar', data-target='#carousel-testimonials', data-slide-to='2')
            li
              img.img-fluid.img-circle(src='img/face4.jpg', alt='Navigation avatar', data-target='#carousel-testimonials', data-slide-to='3')
            li
              img.img-fluid.img-circle(src='img/face5.jpg', alt='Navigation avatar', data-target='#carousel-testimonials', data-slide-to='4')
    section.section-text
      .container
        h3.text-xs-center Новости
    section.section-news
      .container
        h3.sr-only News
        .bg-inverse
        each neww,i in news
          .row
            a(href='/news/#{neww.name}')
              if i%2==0
                .col-md-6.p-r-0
                  figure.has-light-mask.m-b-0.image-effect
                    img.img-fluid(src='#{neww.img}', alt='Article thumbnail')
                .col-md-6.p-l-0
                  article.center-block
                    span.label.label-info #{neww.name}
                    br
                    h5.vfdr
                      | #{neww.preview}
                      span.icon-arrow-right
                    p.m-b-0
                      a(href='#')
                        span.label.label-default.text-uppercase
                          span.icon-time
                          |  #{prettyDate(neww.date)}
              else
                .col-md-6.col-md-push-6.p-l-0
                  figure.has-light-mask.m-b-0.image-effect
                    img.img-fluid(src='#{neww.img}', alt='Article thumbnail')
                .col-md-6.col-md-pull-6.p-r-0
                  article.center-block
                    span.label.label-info #{neww.name}
                    br
                    h5.vfdr
                      | #{neww.preview}
                      span.icon-arrow-right
                    p.m-b-0
                      a(href='#')
                        span.label.label-default.text-uppercase
                          span.icon-time
                          |  #{prettyDate(neww.date)}
    section.section-signup.bg-faded
      .container
        h3.text-xs-center.m-b-3 Регистрируйся
        form(class='form-signup', action='/signup', method='POST')
          .row
            .col-md-6.col-xl-3
              .form-group.has-icon-left.form-control-email
                label.sr-only(for='inputName') Email
                input(type='text',name='username', class='form-control form-control-lg', id='inputEmail', placeholder='Email', autocomplete='off')
            .col-md-6.col-xl-3
              .form-group.has-icon-left.form-control-password
                label.sr-only(for='inputEmail') пароль
                input(type='password',name='password', class='form-control form-control-lg', id='inputPassword', placeholder='Password', autocomplete='off')
            .col-md-6.col-xl-3
              .form-group.has-icon-left.form-control-password
                label.sr-only(for='inputPassword') потверждения пароля
                input(type='password',name='passwordconf', class='form-control form-control-lg', id='inputPassword', placeholder='Password confirm', autocomplete='off')
            .col-md-6.col-xl-3
              .form-group
                button.btn.btn-primary.btn-block(type='submit') зарегистрироватся
          label.c-input.c-checkbox
            input(type='checkbox', checked='')
            span.c-indicator
            |  я согласен с
            a(href='#') правилами сайта
